@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


.work-sans-fonts {
  font-family: "Work Sans", serif;
  font-optical-sizing:auto;
  font-weight: 400;
  font-style: normal ;
}

/* shared styles */

main{
    max-width: 1440px;
    margin: 0 auto;
}
main>section{
    margin-top: 130px;
}
.section-title{
    font-size: 2.9rem;
    font-weight: 700;
}
.display-flex{
    display: flex;
    
}
.dark-1{
    color:rgb(19, 19, 19);
}
.dark-2{
    color: #424242;
}
.dark-3{
    color: #727272;
}
.primary-color{
    background: rgba(255, 144, 14, 0.1);

}
.btn-primary{
    border-radius: 8px;
background: rgb(255, 144, 14);
width: 188px;
height: 64px;
color: rgb(255, 255, 255);
font-family: Work Sans;
font-size: 1.21rem;
font-weight: 600;
}
/* header styles */

/* navbar related styles */
.navbar{
justify-content: space-between;
align-items: center;
}
.nav-item{
   
}
.nav-links{
    gap: 30px;
}
.brand{
    font-size: 2.8rem;
font-weight: 700;
}
.nav-link{
   
    text-decoration: none;
}
.nav-item{
    list-style: none;
    font-size: 1.06rem;
 
 
}
.banner,.navbar{
    max-width: 1440px;
    margin: 0 auto;
} 
/* banner related styles */
.banner-content{
    max-width: 850px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;
}
.banner-title{
    color: rgb(19, 19, 19);
font-family: Work Sans;
font-size: 4rem;
font-weight: 700;
text-align: center;
}
.banner-image{
width: 100%;
}
/* teams section */
.teams{
    align-items: center;
}
.team-img-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}
.feature{
    margin-left: 74px;
    max-width: 530px;
}
.feature-color{
    color: #FF900E;
    font-size: 2.9rem;
    font-weight: 700;
}
.of-our, .quick-list{
font-size: 2.8rem;
font-weight: 500;

}






@media screen and (max-width:576px) {
   .nav-link, 
   .navbar,
   .teams{
    flex-direction: column;
   }
   .team-img-container{
    grid-template-columns: repeat(1, 1fr);
   } 
   .feature{
    margin-left: 20px;
   }
}
/* medium device */
@media screen and (min-width:576px) and (max-width:992px) {
    .teams{
        flex-direction: column;

    }
    .feature{
        margin: 50px auto;
    }
}